body{
	margin: 0;
	padding: 0;
	background-color: #092B40;
	font-size: 18px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.search{
	color: #fff;
	text-align: center;
	margin-top: 70px;
}
.search p{
	margin-bottom: 30px;
}
.search input{
	width: 230px;
	height: 25px;
	border: 2px solid #D96F32;
	border-radius: 17px;
	outline: none;
	color: #fff;
	background-color: transparent;
	padding-left: 17px;
}
.result{
	position: relative;
	top: 30px;
	padding: 0;
	width: 90%;
	margin: 0 auto;
}
.result li{
	height: 85px;
	background-color: #E6E6E7;
	margin-bottom: 10px;
	padding: 5px 30px 5px 30px;
}
.result li:hover{
	border-left: 5px solid #D96F32;
	margin-left: -5px;
}
.result h1{
	font-size: 18px;
	color: #000;
}
.result p{
	font-size: 14px;
	color: #000;
}
